body{
  overflow-x: hidden;
  background: lightseagreen;
}

.search-container{
  margin-top: 11vh;
}

.search-bar{
  text-align: center;
  padding: 5px 5% 0 0;
  border-radius: 3px;
}

.search-form{
  display: block;
  text-align: center;
  width: 100vw;
}

.submit-button{
  Margin: auto;
  color: #004a50;
  background: #20b2aa;
  border-radius: 3px;
  padding: 4px;
  font-weight: bold;
  border: 2px solid #00818b;
}

.pageNumber{
  margin-top: 5%;
  margin-bottom: 2%;
}

button{
  border-radius: 7px;
  color: white;
  background: rgb(18, 112, 107)
}

.buttonPage{
  Margin: auto;
  color: #004a50;
  background: #20b2aa;
  border-radius: 3px;
  padding: 1%;
  font-weight: bold;
  border: 2px solid #00818b;
}

.shop-item{
  overflow: hidden;
  width: 323px;
  height: 200px;
  border-radius: 3px;
  margin: 20px;
  margin-right: 2%;
  background: white;
} 

.game-images{
  display:flex;
  width: 323px;
  height: 184px;
  height: auto;
}
  
.shop-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100vw;
}
  
.game-title{
  font-size: 1.3rem;
  text-align: center;
}

.pageButtonContainer{
  text-align: center; 
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-bottom: 2%;
}


@media (max-width: 380px){
  .shop-item{
    width: 223px;
    height: 100px;
    margin: 20px;
    overflow: hidden;
  } 
      
  .game-images{
    width: 223px;
    height: 110px;
  }
}


@media (max-width: 480px) {
  .desktop-hide {
    display: none;
  }
  .shop-container{
    flex-direction: column;
    align-items: center;
  }
}
  
@media  (max-width: 600px) {
  .game-title{
    font-size: 1rem;
  }
}
  
@media (min-width: 481px) {
  .mobile-hide {
    display: none;
  }
      
}


