html{
  width: 100%;
}

body{
  font-family: 'Audiowide', cursive;
}

.fuuu{
  width: 100%;
}

.logo{
  height: auto;
  width: 5%;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 8vh;
  background: rgb(56, 80, 88);
  background: rgb(17, 100, 96);
  color: white;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.nav-links{
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.nav-style{
  color: white;
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

@media (max-width: 480px) {
  .nav-links{
    width: 70%;
  }
  .logo{
    width: 10%;
  }
}

@media (min-width: 1000px){
  .nav-links{
    font-size: 1.5rem;
  }
}
/* @media not all and (max-width: 480px) {
  .hide-desktop {
    display: none;
  }
} */