/* .App{
  text-align: center;
} */

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(56, 80, 88);
  color: white;
}

.nav-links{
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.nav-style{
  color: white;
  text-decoration: none;
}

.game-images{
  display:flex;
  /* align-items: center;
  justify-content: center; */
  height: auto;
  width: 25vw;
  height: 60%;
}

.shop-container{
  background: lightseagreen;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100vw;
}

a:link {
  text-decoration: none;
}

.shop-item{
  width: 25vw;
  border-radius: 7px;
  padding: 10px;
  margin: 20px;
  background: white;
}