body{
  overflow-x: hidden;
  background: lightseagreen;

}

.search-container{
  /* margin: 20px; */
  margin-top: 11vh;
}

.search-bar{
  text-align: center;
  padding: 5px 5% 0 0;
  border-radius: 7px;
  
}

.search-form{
  display: block;
  text-align: center;
  width: 100vw;
  
}

.submit-button{
   padding: 3px; 
  /* border-radius: 0 7px 7px 0;  */
}

.pageNumber{
  margin-top: 5%;
  margin-bottom: 2%;
}

button{
  border-radius: 7px;
  color: white;
  background: rgb(18, 112, 107)
}

.buttonPage{
  padding: 6px;
}

.shop-item{
  /* width: 25vw;
  height: 70%;
   */
   overflow: hidden;
   width: 323px;
   height: 200px;
  border-radius: 7px 7px 0 0;
  border-radius: 7px;
  /* padding: 10px; */
  margin: 20px;
  margin-right: 2%;
  background: white;
} 

.game-images{
    display:flex;
    /* width: 25vw;
    height: 60%;
   
    min-height: 55px; */
    /* object-fit: cover; */
    width: 323px;
    height: 184px;
    height: auto;
    /* border-radius: 7px 7px 0 0; */
  }
  
  .shop-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100vw;
    /* padding-right: 5.3%; */
  }
  
  .game-title{
    font-size: 1.3rem;
    text-align: center; 
    
  }

  .pageButtonContainer{
    text-align: center; 
    align-items: center;
   justify-content: center;
   width: 100%;
   padding-bottom: 2%;
  }


    @media (max-width: 380px){
      .shop-item{
         width: 223px;
         height: 100px;
        /* padding: 10px; */
        margin: 20px;
        /* margin-right: 2%; */
        overflow: hidden;
      } 
      
      .game-images{
          width: 223px;
          height: 110px;
          /* border-radius: 7px 7px 0 0; */
          
        }
    }


    @media (max-width: 480px) {
      .desktop-hide {
        display: none;
      }
      .shop-container{
        flex-direction: column;
        align-items: center;
      }
  }
  
  @media  (max-width: 600px) {
    .game-title{
        font-size: 1rem;
    }
  }
  
  @media (min-width: 481px) {
    .mobile-hide {
      display: none;
    }
      
    }


