.home-container{
    text-align: center;
    
}

.text{
    padding: 0 5% 0 5%;
}

h1{
    text-shadow: 1px 1px red;
}

h2{
    margin: 0;
    padding: 2%;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.game-block{
    width: 25vw;
    height: auto;
    margin: 7px;
    border-radius: 7px;
}

.l{
    padding-top: 5%;
}
.e{
    width: 30vw;
}

.random-block{
    width: 20vw;
    height: auto;
    border-radius: 7px;
}

@media (max-width:420px){
    .flex-container{
        flex-direction: column;
    }
    .game-block{
        width: 80vw;
    }
    .l{
        padding: 0;
    }
}