.home-container{
    text-align: center;
    
}

.text{
    padding: 0 5% 5% 5%;
}
h2{
    margin: 0;
    padding: 2%;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.game-block{
    width: 25vw;
    height: auto;
    margin: 7px;
    border-radius: 7px;
}