.detail-container{
    text-align: center; 
    align-items: center;
   justify-content: center;
}

.images{
 border-radius: 7px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  }

.itemPara{
    margin-top: 5%;
    padding: 1% 8% 7% 8%;
}