.detail-container{
    /* text-align: center; 
    align-items: center;
   justify-content: center; */
}

.right-container{
    float: right;
    width: 48vw;
    text-align: center;
}

.title{
    margin-top: 11vh;
    display: inline-block;
    vertical-align: top;
    
} 

.images{
  /* border-radius: 7px; */
  /* display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  max-width: 50%; */
  margin-top: 8vh;
  border: 2px solid #7c7186;
  width: 50vw; 
  height: auto;
  }

.videoClip{
    border-radius: 7px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 420px;
    height: 315px; */
    /* width: 50%; */
    max-width: 100%;
    height: auto;
}

.video-error{
    display: none;
}

.itemPara{
    margin-top: 5%;
    padding: 1% 8% 7% 8%;
    /* background: rgb(42, 207, 199); */
    /* border-radius: 7px; */
    
}

p{
    /* background: rgb(42, 207, 199); 
    background: rgb(17, 100, 96);
    background: rgb(56, 80, 88);
    color: white; */
    /* border: 2px solid red; */
    border-top: 2px solid red;
    border-bottom: 2px solid red;
     /* border-radius: 7px; */
     padding: 5%;
     background: rgb(34, 187, 179);
     /* background: #7c7186 ; */
}

.gameLink{
    text-decoration: none;
    color:black;
    padding: 10%;
}

a:link {
    text-decoration: none;
  }

.publisher{
    color: white;
    text-shadow: 1px 1px red;
    display: block;
}

.rating{
    padding: 2%;
}

.platforms{
    padding-top: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.platformEach{
    text-align: center;
    align-items: center;
    padding: 1%;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
}

.genreEach{
    text-align: center;
    align-items: center;
    padding: 1%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    background: rgb(255, 70, 70);
}

.errorMessage{
    color: red;

}

h1{
    display: inline;
    
}

h2{
    font-size: 1rem;
}

@media (max-width: 480px) {
    .images{
        max-width: 70%;
    }
    .platforms{
        padding-top: 3%;
        flex-direction: column;
        justify-content: space-around;
    }
    
}


@media only screen and (min-width: 900px) {
    .videoClip{
        width: 420px;
        height: 315px;
    }
  }