.game-images{
    display:flex;
    /* align-items: center;
    justify-content: center; */
    width: 25vw;
    height: 60%;
    min-height: 55px;
    border-radius: 7px;
  }
  
  .shop-container{
    background: lightseagreen;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100vw;
  }
  
  .game-title{
    font-size: 1.3rem;
    text-align: center; 
    
  }
  
  .shop-item{
    width: 25vw;
    border-radius: 7px;
    padding: 10px;
    margin: 20px;
    background: white;
  }

  @media only screen and (max-width: 600px) {
    .game-title{
        font-size: 1rem;
    }
  }